<!-- app/views/preferences/index.html.erb -->

<h1>Cafés adaptés à vos préférences</h1>

<% if @coffees.present? %>
  <ul>
    <% @coffees.each do |coffee| %>
      <li><%= coffee.name %> - <%= coffee.description %></li>
      <li><%= cl_image_tag coffee.photo.key, height: 300, width: 400, crop: :fill, class: "card-img-top" if coffee.photo.key.present? %></li>
    <% end %>
  </ul>
<% else %>
  <p>Aucun café correspondant à vos préférences n'a été trouvé.</p>
<% end %>
