/* Styles personnalisés pour la barre de recherche latérale */
.custom-search-btn {
  background-color: #ffffff; /* Couleur de fond */
  color: #6F4E37; /* Couleur du texte */
  border: 1px solid #d2b48c; /* Bordure */
  border-radius: 5px; /* Arrondi des coins */
  padding: 8px 15px; /* Espacement interne */
  transition: background-color 0.3s ease; /* Transition douce pour le survol */
  margin: 10px; /* Espacement autour des boutons */
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 10px;
}

.custom-search-input {
  border: 1px solid #d2b48c; /* Bordure */
  border-radius: 5px; /* Arrondi des coins */
  padding: 8px 15px; /* Espacement interne */
  margin-bottom: 10px;
}

.card-body .input-group {
  justify-content: center;
}

.input-group-append {
  margin-left: 10px;
}

.form-select, .form-control {
  margin-bottom: 10px;
}

.center-submit {
 
  justify-content: center;
}
