/* Styles pour les commentaires */
.div-body-commentaire {
  display: flex;
  justify-content: space-around;
}

.fiche-product {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-review {
  padding: 20px;
}

/* Styles pour les étoiles */
.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.star-input {
  display: none; /* Masquer les boutons radio */
}

.star {
  font-size: 2rem;
  color: #d3d3d3; /* Couleur par défaut */
  cursor: pointer;
  transition: color 0.2s;
}

.star-input:checked ~ .star,
.star:hover,
.star:hover ~ .star {
  color: #ffdd57; /* Couleur des étoiles remplies */
}

.card-body h1 {
  color: #333;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.card-body h2, h3 {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Styles personnalisés pour les boutons Like et Unlike */
.like-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-like {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.btn-like:hover {
  transform: scale(1.2);
}

.btn-like.like i {
  color: #28a745; /* Couleur pour le bouton Like */
}

.btn-like.unlike i {
  color: #dc3545; /* Couleur pour le bouton Unlike */
}

.like-count {
  font-size: 0.8rem;
  color: #6F4E37;
}

.show{
  color: #d2b48c;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.icon-margin-right {
  margin-right: 8px; /* Vous pouvez ajuster cette valeur pour obtenir l'espacement souhaité */
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.5); /* Couleur de fond blanche avec une opacité de 50% */
  border: 1px solid rgba(0, 0, 0, 0.1); /* Bordure légère pour délimiter l'élément */
  padding: 10px 10px; /* Ajuste le padding si nécessaire */
}

