.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('signin.jpg'); /* Chemin vers votre image de fond */
  background-size: cover;
  background-position: center;
  width: 100%; /* Pour s'assurer que le conteneur prend toute la largeur */
  position: relative; /* Positionnement relatif pour contenir les éléments positionnés absolument */
}

.signin::before {
  content: ''; /* Obligatoire pour les pseudo-éléments */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(243, 234, 227, 0.4); /* Couleur de fond avec opacité de 40% */
  z-index: 1; /* Assure que le pseudo-élément est en dessous du contenu */
}

.signin .col-md-6 {
  position: relative; /* Positionnement relatif pour contenir les éléments positionnés absolument */
  background-color: rgba(243, 234, 227, 0.8); /* Couleur de fond légèrement plus foncée du formulaire avec opacité de 80% */
  padding: 20px;
  color: #a5836a; /* Couleur du texte */
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%; /* Pour que la colonne respecte la largeur maximale du conteneur parent */
  z-index: 2; /* Assure que le contenu est au-dessus du pseudo-élément */
}

.signin h2 {
  color: #6F4E37; /* Couleur du titre */
  font-size: 2rem; /* Taille du titre */
  margin-bottom: 20px; /* Espacement en bas du titre */
  font-weight: bolder;
}

.signin .form-group {
  margin-bottom: 15px;
}

.signin .form-control {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.signin .form-check-label {
  font-weight: normal;
}

.signin .btn-primary {
  background-color: #ffffff; /* Couleur de fond */
  color: #6F4E37; /* Couleur du texte */
  border: 1px solid #d2b48c; /* Bordure */
  border-radius: 5px; /* Arrondi des coins */
  padding: 8px 15px; /* Espacement interne */
  transition: background-color 0.3s ease; /* Transition douce pour le survol */
  margin: 10px; /* Espacement autour des boutons */
  text-decoration: none;
  font-weight: bold;
}

.signin .btn-primary:hover {
  background-color: #d2b48c; /* Couleur de fond au survol */
  color: #ffffff; /* Changement de couleur du texte au survol */
  border-color: #d2b48c; /* Changement de couleur de bordure au survol */
}

.signin .btn-block {
  margin-top: 15px;
}

.links-container {
  margin-top: 20px; /* Espacement en haut de la section des liens */
}

.custom-link {
  display: block; /* Afficher les liens en bloc pour les espacer verticalement */
  color: #6F4E37; /* Couleur du texte */
  text-decoration: none; /* Supprimer la décoration de soulignement */
  font-size: 16px; /* Taille de la police */
  margin-bottom: 10px; /* Espacement en bas de chaque lien */
}

.custom-link:hover {
  text-decoration: underline; /* Souligner les liens au survol */
  color: #a5836a; /* Changement de couleur au survol */
}

