.text-primary i {
  color: black; /* Couleur pour le cœur vide (ajouter aux favoris) */
  font-size: 2rem; /* Ajuste la taille de l'icône */
  cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est cliquable */
}

.text-danger i {
  color: #dc3545; /* Couleur pour le cœur plein (supprimer des favoris) */
  font-size: 2rem; /* Ajuste la taille de l'icône */
  cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est cliquable */
}

/* Styles pour l'icône de cœur */
.card-img-top-wrapper {
  position: relative; /* Nécessaire pour positionner l'icône par rapport à l'image */
}

.favorite-icon {
  position: absolute;
  bottom: 10px; /* Distance du bas de l'image */
  right: 10px; /* Distance du bord droit de l'image */
  z-index: 1; /* Assure que l'icône est au-dessus de l'image */
}

.text-primary i, .text-danger i {
  font-size: 2rem; /* Ajuste la taille de l'icône */
  cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est cliquable */
}
