/* Styles pour l'icône de cœur */
.card-img-top-wrapper {
  position: relative; /* Nécessaire pour positionner l'icône par rapport à l'image */
}

.favorite-icon {
  position: absolute;
  bottom: 10px; /* Distance du bas de l'image */
  right: 10px; /* Distance du bord droit de l'image */
  z-index: 1; /* Assure que l'icône est au-dessus de l'image */
}

.text-primary i, .text-danger i {
  font-size: 2rem; /* Ajuste la taille de l'icône */
  cursor: pointer; /* Change le curseur en pointeur pour indiquer que c'est cliquable */
}

.position-in-card {
  position: absolute;
  bottom: 16px;
  right: 20px;
  color: #f2efea;
  font-size: 30px;
}



.btn-favorite {
  background: none;
  border: none;
  padding: 0;
}

.card-img-top-wrapper {
  height: 400px;
  overflow: hidden;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
