.footer {
  background-color:#6f4e37; /* Same as the navbar background color */
  padding: 1rem 0; /* Reduced padding for smaller height */
  color: white; /* Text color */
}

.main-content {
  flex: 1 0 auto;
}

a{
  text-decoration: none;
  color: white;
}