.footer {
  background-color: #f8f9fa; /* Couleur de fond du footer */
  padding: 20px 0; /* Espacement vertical du footer */
}

.footer-logo {
  max-width: 100px; /* Taille maximale du logo */
}

.footer h5 {
  color: #6F4E37; /* Couleur des titres */
}

.footer ul {
  padding-left: 0; /* Retire le padding par défaut des listes */
}

.footer li {
  list-style: none; /* Retire les puces des listes */
}

.footer a {
  color: #6F4E37; /* Couleur des liens */
  text-decoration: none; /* Retire la soulignement des liens */
}

.footer a:hover {
  text-decoration: underline; /* Ajoute la soulignement au survol */
}

.footer li {
  color: #6F4E37; /* Couleur des liens */
}

@media (max-width: 768px) {
  .footer .row {
    flex-direction: row; /* Assurez-vous que les éléments restent en ligne sur les petits écrans */
    flex-wrap: wrap; /* Permet au contenu de se réorganiser sur plusieurs lignes si nécessaire */
  }
  .footer .col-6 {
    max-width: 50%; /* Assure que chaque élément prend 50% de la largeur sur les petits écrans */
    flex: 0 0 50%; /* Assure que chaque élément prend 50% de la largeur sur les petits écrans */
  }
}
