.navbar-cafe {
  background-color: #f2efea; /* Couleur brune pour un thème café */
  box-shadow: 0 1px 4px 0 rgba(30, 30, 30, 0.2); /* Ombre légère */
}

.navbar-brand {
  color: #ffffff;
  font-size: 1.5rem;
}

.nav-link {
  color: #ffffff;
  
  &:hover {
    color: #d3b092; /* Couleur plus claire pour les survols */
  }
}

.dropdown-menu {
  background-color: #6f4e37;
  
  .dropdown-item {
    color: #ffffff;
    
    &:hover {
      background-color: #d3b092;
      color: #6f4e37;
    }
  }
}

@media (max-width: 576px) {
  .navbar {
    flex-wrap: nowrap; /* Empêche le collapse de la barre de navigation */
  }
  
  .navbar-collapse {
    display: flex !important; /* Affiche toujours la barre de navigation sur les petits écrans */
  }
  
  .navbar-nav {
    flex-direction: row; /* Affiche les éléments en ligne sur les petits écrans */
    align-items: center; /* Centre les éléments verticalement */
  }
  
  .dropdown-menu {
    position: absolute; /* Position absolue pour afficher le dropdown */
    top: 100%;
    right: 0;
    background-color: #6f4e37;
    box-shadow: none;
  }
}

.navbar-logo {
  height: 40px; /* Ajustez la hauteur selon vos besoins */
  width: auto; /* Pour garder les proportions */
  margin-bottom: 0.5rem;
}

.navbar-cafe .nav-item {
  display: flex;
  align-items: center;
  flex-direction: column; /* Disposition en colonne pour aligner les éléments */
}

.avatar {
  margin-bottom: 0.5rem;
}

/* Style pour centrer le champ de recherche */
.navbar-cafe .justify-content-center {
  flex-grow: 1;
}

.search-input {
  border-radius: 20px; /* Bordures arrondies */
  padding: 0.5rem; /* Réduire l'espacement intérieur */
  border: 1px solid #ccc; /* Bordure de couleur grise */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère */
  transition: all 0.3s ease; /* Transition douce pour les effets de survol */
  width: 200px;
  height: 25px;
  font-weight: 8px;
  text-align: center;
}

/* Style pour le focus */
.search-input:focus {
  border-color: #007bff; /* Couleur de la bordure lors du focus */
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25); /* Ombre lors du focus */
  outline: none; /* Suppression de l'effet outline par défaut */
}

.navbar-cafe .nav-item .icon-40 {
  color: #000000; /* Couleur noire pour les icônes */
}
