.navbar-cafe {
  background-color: #f2efea;
  box-shadow: 0 1px 4px 0 rgba(30, 30, 30, 0.2);
  width: 100%;
  padding: 0 20px;
  margin: 0;

  .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
  }

  .nav-link {
    color: #6F4E37;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: #d3b092;
      border-radius: 5px;
    }
  }

  .dropdown-menu {
    background-color: #6f4e37;
    font-size: 14px;
    border-radius: 8px;

    .dropdown-item {
      color: #ffffff;

      &:hover {
        background-color: #d3b092;
        color: #6f4e37;
      }
    }
  }

  @media (max-width: 576px) {
    .navbar {
      flex-wrap: nowrap;
      width: 100%;
      padding: 0 20px;
      margin: 0;
    }

    .navbar-collapse {
      display: flex !important;
    }

    .navbar-nav {
      flex-direction: row;
      align-items: center;
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #6f4e37;
      box-shadow: none;
    }
  }

  .navbar-logo {
    height: 120px;
    width: auto;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .search-input:focus {
    border-color: #007bff;
    box-shadow: 0 2px 8px rgba(0, 123, 255, 0.25);
    outline: none;
  }

  .fa-heart,
  .fa-shopping-cart {
    font-size: 1.5rem;
    color: #6F4E37;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .badge {
    font-size: 0.75rem;
    padding: 0.5em 0.6em;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    margin-left: -10px; /* Adjust to position to the left of the icons */
    top: -10px;
    background-color: #d3b092; /* Change the background color */

    &.favorite-badge {
      color: #fff; /* Text color */
    }

    &.cart-badge {
      color: #fff; /* Text color */
    }

    @keyframes pulse {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  .mx-2 {
    margin-left: 15px;
    margin-right: 15px;
  }
}
