// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

/* app/assets/stylesheets/application.scss */


/* Fallback color */

/* Gradient background */

/* app/assets/stylesheets/application.scss */
/* Styles pour les icônes de cœur */
.custom-alert {
  border-radius: 0.5rem; /* Coins arrondis */
  padding: 15px 60px 15px 15px; /* Espacement interne, avec un padding supplémentaire à droite pour la croix */
  font-size: 1rem; /* Taille de la police */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour effet de profondeur */
  margin-top: 1rem; /* Espace au-dessus */
  margin-bottom: 1rem; /* Espace en dessous */
 
  z-index: 1050; /* Assurez-vous qu'il est au-dessus de la barre de navigation */
}

/* Styles pour les notifications info */
.alert-info {
  background-color: #d3b092; /* Couleur de fond pour les alertes info */
  color: #6F4E37; /* Couleur du texte pour les alertes info */
  border: 1px solid #6F4E37; /* Bordure pour les alertes info */
}

/* Styles pour les notifications warning */
.alert-warning {
  background-color: #f8f0e3; /* Couleur de fond pour les alertes warning */
  color: #6F4E37; /* Couleur du texte pour les alertes warning */
  border: 1px solid #d2b48c; /* Bordure pour les alertes warning */
}

.custom-alert .btn-close {
  color: #6F4E37; /* Couleur du bouton de fermeture */
 
  top: 50%; /* Centré verticalement */
  right: 15px; /* Positionné à droite avec un espace */
  transform: translateY(-50%); /* Correction pour centrer verticalement */
}

